<ul class="list-group">
    <li *ngFor="let productl of products" class="list-group-item">ID:{{productl.id}} ||NAME:{{productl.name}} ||
        CATEGORY:{{productl.category}} || DESCRIPTION:{{productl.description}} || PRICE:{{productl.price}} || <a [routerLink]="['/product',productl.id]"><img
            [src]="productl.images[0]" width="120px" alt="image"></a> <button (click)="deleteProduct(productl.id)"
            class="btn btn-danger mx-2">Eliminar</button>
        <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" (click)="openModal(productl)" data-bs-target="#modalupdate">
            Actualizar
        </button>
        
    </li>
</ul>
<div class="modal fade" id="modalupdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Actualizar producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form>

                    <div class="input-group my-3">
                        <span class="input-group-text">Nombre</span>
                        <input type="text" name="name" class="form-control" [(ngModel)]="product.name" required>
                    </div>

                    <div class="input-group my-3">
                        <span class="input-group-text">Categoria</span>
                        <input type="text" name="category" class="form-control" [(ngModel)]="product.category" required>
                    </div>

                    <div class="input-group my-3">
                        <span class="input-group-text">Descripcion</span>
                        <input type="text" name="description" class="form-control" [(ngModel)]="product.description"
                            required>
                    </div>

                    <div class="input-group my-3">
                        <span class="input-group-text">Precio</span>
                        <input type="number" name="price" class="form-control" [(ngModel)]="product.price" required>
                        <span class="input-group-text">$</span>
                    </div>

                    <div class="my-4">
                        <button type="button" class="btn btn-secondary mx-1" (click)="decreaseImage()">Borrar
                            imagen</button>
                        <button type="button" class="btn btn-primary mx-1" (click)="incrementImage()">Agregar
                            imagen</button>
                    </div>

                    <label for="images" class="form-label">Imagenes URL</label>

                    <div class="row justify-content-center">
                        <div class="col-6 my-1" *ngFor="let imagen of cantidad;index as i">
                            <input class="form-control" type="url" name="images_{{i}}" [(ngModel)]="product.images[i]"
                                required>
                        </div>
                    </div>

                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary"
                        (click)="updateData()">Actualizar</button>
                </form>
            </div>

        </div>
    </div>
</div>